/* Add this CSS to your existing styles.css file */

/* Adjust styling for the label and value */
.stats-list li {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Vertically center label and value */
    margin-bottom: 10px;
    /*underline*/
    border-bottom: 1px solid gray;
}

.label {
    color: gray;
    width: 50%; /* Adjust the width to your preference */
}

.value {
    color: lime;
    width: 50%; /* Adjust the width to your preference */
    text-align: right;
}

/* Rest of your existing CSS styles */
body {
    background-color: black;
    color: white;
    font-family: 'Helvetica', monospace;
}

header {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    padding: 20px 0;
}

.container {
    margin: 20px auto;
    max-width: 800px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 10px 0;
}
